@use './colors' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  padding: 5em 30vw;
  // padding: 5em clamp(5em, 30vw, 32.8125em);
  color: $dark;
  background-color: $bg;

  // @media (max-width: 1440px) {
  //   padding: 5em clamp(5em, 25vw, 32.8125em);

  //   &::after {
  //     content: "<=1440px";
  //   }
  // }

  // @media (max-width: 1366px) {
  //   padding: 5em clamp(5em, 20vw, 32.8125em);

  //   &::after {
  //     content: "<=1366px";
  //   }
  // }

  @media screen and (max-width: 900px) {
    padding: 2.5em;

    // &::after {
    //   content: "<=900px";
    // }
  }
}

p + p {
  margin-top: 1.25em;
}

/* width */
::-webkit-scrollbar {
  width: 0.625em;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark;
  border-radius: 0.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}
