@use "./colors" as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  padding: 5em 29.8vw;
  color: $dark;
  background-color: $bg;

  @media screen and (max-width: 900px) {
    padding: 2.5em;
  }

  // @media screen and (max-width: 1700px) {
  //   padding: 5em 20vw;
  // }

  @media screen and (min-width: 900px) and (max-width: 1440px) {
    padding: 5em 15vw;
  }
}

p + p {
  margin-top: 1.25em;
}

/* width */
::-webkit-scrollbar {
  width: 0.625em;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark;
  border-radius: 0.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}
