@use '../base/colors' as *;

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    position: relative;
    transition: transform 300ms ease-in-out;

    &:hover {
      color: $bg;
      text-decoration: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      z-index: -1;

      transition: transform 300ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}
